<%= form_for(@watched_resource) do |f| %>
  <% if @watched_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watched_resource.errors.count, "error") %> prohibited this watched_resource from being saved:</h2>

      <ul>
      <% @watched_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :lastCheckAt %><br>
    <%= f.datetime_select :lastCheckAt %>
  </div>
  <div class="field">
    <%= f.label :urlNormalized %><br>
    <%= f.text_field :urlNormalized %>
  </div>
  <div class="field">
    <%= f.label :usage %><br>
    <%= f.text_field :usage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
