<h1>Listing watched_resources</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Lastcheckat</th>
      <th>Urlnormalized</th>
      <th>Usage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @watched_resources.each do |watched_resource| %>
      <tr>
        <td><%= watched_resource.type %></td>
        <td><%= watched_resource.lastCheckAt %></td>
        <td><%= watched_resource.urlNormalized %></td>
        <td><%= watched_resource.usage %></td>
        <td><%= link_to 'Show', watched_resource %></td>
        <td><%= link_to 'Edit', edit_watched_resource_path(watched_resource) %></td>
        <td><%= link_to 'Destroy', watched_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watched resource', new_watched_resource_path %>
