<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @watched_resource.type %>
</p>

<p>
  <strong>Lastcheckat:</strong>
  <%= @watched_resource.lastCheckAt %>
</p>

<p>
  <strong>Urlnormalized:</strong>
  <%= @watched_resource.urlNormalized %>
</p>

<p>
  <strong>Usage:</strong>
  <%= @watched_resource.usage %>
</p>

<%= link_to 'Edit', edit_watched_resource_path(@watched_resource) %> |
<%= link_to 'Back', watched_resources_path %>
