<h1>Listing search_infos</h1>

<table>
  <thead>
    <tr>
      <th>Externid</th>
      <th>Urlnormalized</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @search_infos.each do |search_info| %>
      <tr>
        <td><%= search_info.externid %></td>
        <td><%= search_info.urlNormalized %></td>
        <td><%= link_to 'Show', search_info %></td>
        <td><%= link_to 'Edit', edit_search_info_path(search_info) %></td>
        <td><%= link_to 'Destroy', search_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search info', new_search_info_path %>
