<%= form_for(@ad_info) do |f| %>
  <% if @ad_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_info.errors.count, "error") %> prohibited this ad_info from being saved:</h2>

      <ul>
      <% @ad_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :externid %><br>
    <%= f.text_field :externid %>
  </div>
  <div class="field">
    <%= f.label :urlNormalized %><br>
    <%= f.text_field :urlNormalized %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
